---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: harbor-scanner-sysdig-secure
  namespace: harbor-scanner-sysdig-secure
spec:
  interval: 15m
  maxHistory: 20
  chart:
    spec:
      chart: harbor-scanner-sysdig-secure
      version: 0.8.0
      sourceRef:
        kind: HelmRepository
        name: sysdig-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 6
  upgrade:
    remediation:
      retries: 6
  values:
    asyncMode:
      enabled: true
    sysdig:
      secure:
        existingSecureAPITokenSecret: "harbor-scanner-sysdig-secure"
        url: "https://eu1.app.sysdig.com"
    cliScanning:
      enabled: true
      image: quay.io/sysdig/sysdig-cli-scanner:1.25.0
