---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redis
  namespace: harbor
spec:
  interval: 15m
  maxHistory: 20
  chart:
    spec:
      chart: redis
      version: "23.0.4"
      sourceRef:
        kind: HelmRepository
        name: bitnami-chart
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    master:
      persistence:
        storageClass: openebs-hostpath
