---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: artifactory
  namespace: jfrog
spec:
  interval: 15m
  maxHistory: 20
  chart:
    spec:
      chart: artifactory-jcr
      version: "107.125.7"
      sourceRef:
        kind: HelmRepository
        name: jfrog-chart
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 6
    timeout: 15m
  upgrade:
    remediation:
      retries: 6
    timeout: 15m
  values:
    artifactory:
      artifactory:
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "4Gi"
            cpu: "1"
        ## The following Java options are passed to the java process running Artifactory.
        ## You should set them according to the resources set above.
        ## IMPORTANT: Make sure resources.limits.memory is at least 1G more than Xmx.
        javaOpts:
          xms: "1g"
          xmx: "3g"

      nginx:
        enabled: false

      ingress:
        enabled: true
        ## Used to create an Ingress record.
        hosts:
        - artifactory.ddlns.net
        className: "haproxy"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
          haproxy.org/request-body-size: "0"
        tls:
        - secretName: artifactory-tls
          hosts:
            - artifactory.ddlns.net
