---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: teleport-agent
  namespace: teleport-agent
spec:
  interval: 5m
  chart:
    spec:
      chart: teleport-kube-agent
      version: ">=17.0.0"
      sourceRef:
        kind: HelmRepository
        name: teleport-charts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation:
      retries: 6
  upgrade:
    remediation:
      retries: 6
  values:
    proxyAddr: teleport.ddlns.net:443
    kubeClusterName: "k8s-vms-daniele"
    joinTokenSecret:
      create: false
      name: "teleport-kube-agent-join-token"
