---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jenkins
  namespace: jenkins
spec:
  interval: 15m
  maxHistory: 20
  chart:
    spec:
      chart: jenkins
      version: ">=10.2.5"
      sourceRef:
        kind: HelmRepository
        name: bitnami-chart
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    global:
      defaultStorageClass: "openebs-hostpath"
    nodeSelector:
      topology.kubernetes.io/zone: "mxp-1b"
    agent:
      enabled: true
    ingress:
      ingressClassName: emissary
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
      enabled: true
      hostname: jenkins.ddlns.net
      tls: true
    jenkinsUser: admin
    service:
      type: ClusterIP
    resources:
      limits:
        cpu: 2
        memory: 10Gi
      requests:
        cpu: 300m
        memory: 2Gi
