---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jenkins
  namespace: jenkins
spec:
  interval: 15m
  maxHistory: 20
  chart:
    spec:
      chart: jenkins
      version: ">=10.2.5"
      sourceRef:
        kind: HelmRepository
        name: bitnami-chart
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controller:
      componentName: "jenkins-controller"
    
      admin:
        username: "admin"
        # -- Admin password created as a secret if `controller.admin.createSecret` is true
        # @default -- <random password>
        password:
    
      resources:
        limits:
          cpu: 2
          memory: 10Gi
        requests:
          cpu: 300m
          memory: 2Gi
    
      ingress:
        enabled: true
    
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
          nginx.ingress.kubernetes.io/client-max-body-size: "100M"
          nginx.ingress.kubernetes.io/proxy-body-size: "100M"
        ingressClassName: nginx
    
        hostName: jenkins.ddlns.net
        # -- Hostname to serve assets from
        resourceRootUrl:
        # -- Ingress TLS configuration
        tls: []
        - secretName: jenkins.ddlns.net-tls
          hosts:
            - jenkins.ddlns.net
    
    agent:
      resources:
        requests:
          cpu: "512m"
          memory: "512Mi"
        limits:
          cpu: "512m"
          memory: "6Gi"
    
    persistence:
      enabled: true
      storageClass: "openebs-hostpath"
      size: "20Gi"
