[Unit]
Description=SeaweedFS filer
After=network-online.target seaweedfs-master.service seaweedfs-volume.service
Wants=network-online.target

[Service]
Type=simple
User={{ seaweedfs_user }}
Group={{ seaweedfs_group }}
ExecStart=/usr/local/bin/weed filer \
  -ip={{ seaweedfs_ip }} \
  -ip.bind=0.0.0.0 \
  -port={{ seaweedfs_filer_port }} \
  -master={% for host in groups['seaweedfs'] %}{{ hostvars[host].seaweedfs_ip }}:{{ seaweedfs_master_port }}{% if not loop.last %},{% endif %}{% endfor %}
Restart=on-failure
RestartSec=5s
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
