---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ansible-awx
  namespace: awx
spec:
  interval: 5m
  chart:
    spec:
      chart: awx-operator
      version: ">=3.1.0"
      sourceRef:
        kind: HelmRepository
        name: awx-chart
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 10
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 10
  values:
    AWX:
      enabled: true
      name: awx
      spec:
        ingress_type: ingress
        ingress_class_name: traefik
        hostname: ansible.fastnetserv.net
        secret_key_secret: custom-awx-secret-key
        projects_persistence: true
        projects_storage_class: local-path
        projects_storage_size: 8Gi
        projects_storage_access_mode: ReadWriteOnce
        extra_settings:
        - setting: CSRF_TRUSTED_ORIGINS
          value:
          - https://localhost:3001
          - https://ansible.fastnetserv.net
        web_resource_requirements:
          requests:
            cpu: 200m
            memory: 512Mi
          limits:
            cpu: 500m
            memory: 2Gi
        task_resource_requirements:
          requests:
            cpu: 200m
            memory: 512Mi
          limits:
            cpu: 300m
            memory: 2Gi
        ee_resource_requirements:
          requests:
            cpu: 200m
            memory: 128Mi
          limits:
            cpu: 300m
            memory: 256Mi
