---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: postgres-operator
  namespace: databases
spec:
  interval: 15m
  maxHistory: 20
  chart:
    spec:
      chart: postgres-operator
      version: "1.14.0"
      sourceRef:
        kind: HelmRepository
        name: postgres-operator-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 6
  upgrade:
    remediation:
      retries: 6
  values:
    configKubernetes:
      cluster_name_label: ranchernuc
      pod_environment_secret: postgres-object-store-credentials
      enable_persistent_volume_claim_deletion: false
    configMajorVersionUpgrade:
      major_version_upgrade_mode: "manual"
      minimal_major_version: "15"
      target_major_version: "16"
