---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: portainer
  namespace: portainer
spec:
  interval: 15m
  maxHistory: 20
  chart:
    spec:
      chart: portainer
      version: ">=1.0.35"
      sourceRef:
        kind: HelmRepository
        name: portainer-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 6
  upgrade:
    remediation:
      retries: 6
  values:
    enterpriseEdition:
      enabled: true

    service:
      type: ClusterIP

    tls:
      force: true

    ingress:
      enabled: true
      ingressClassName: haproxy
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        haproxy.org/timeout-server: "240s"
      hosts:
        - host: portainer.ddlns.net
          paths:
            - path: /
      tls:
        - secretName: portainer-tls
          hosts:
            - portainer.ddlns.net

    persistence:
      enabled: true
      size: 10Gi
      accessMode: ReadWriteOnce
      storageClass: openebs-hostpath

    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi
