---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  interval: 15m
  maxHistory: 20
  chart:
    spec:
      chart: jellyfin
      version: ">=9.4.2"
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      tag: latest
      pullPolicy: Always
    env:
      JELLYFIN_PublishedServerUrl: jellyfin
      TZ: Europe/Rome
    #resources:
    #  requests:
    #    gpu.intel.com/i915: 1
    #  limits:
    #    gpu.intel.com/i915: 1
    ingress:
      main:
        ingressClassName: haproxy
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
        enabled: true
        hosts:
          - host: tv.ddlns.net
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: mydomain-production
            hosts:
              - tv.ddlns.net
    persistence:
      config:
        enabled: true
        storageClass: openebs-hostpath

