---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: 1p-operator
  namespace: 1password
spec:
  maxHistory: 20
  interval: 15m
  chart:
    spec:
      chart: connect
      version: "2.0.5"
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: 1password-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
    timeout: 30m
  upgrade:
    remediation:
      retries: 50
    timeout: 30m
  values:
