---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: 1p-operator
  namespace: 1password
spec:
  maxHistory: 20
  interval: 15m
  chart:
    spec:
      chart: connect
      version: "2.0.5"
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: 1password-chart
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
    timeout: 10m
  upgrade:
    remediation:
      retries: 10
    timeout: 10m
  values:
    connect:
      create: false
      host: 10.10.40.11
      api:
       httpPort: 31335
       httpsPort: 30751

    operator:
      create: true

      authMethod: connect
    
      # 1Password Operator Connect Token Configuration
      token:
        # The name of Kubernetes Secret containing the 1Password Connect API token
        name: onepassword-secret
    
        # The key for the 1Password Connect token stored in the 1Password token secret
        key: token


