---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ingress-nginx
resources:
  - ../../../../kubenuc/apps/nginx-ingress/manifests/release.yml
patchesStrategicMerge:
  - release.yml
