---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: harbor
  namespace: harbor
spec:
  interval: 15m
  maxHistory: 20
  dependsOn:
    - name: redis
  chart:
    spec:
      chart: harbor
      version: "1.18.0"
      sourceRef:
        kind: HelmRepository
        name: harbor-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 6
  upgrade:
    remediation:
      retries: 6
  values:
    enableMigrateHelmHook: true
    updateStrategy:
      type: Recreate
    externalURL: https://harbor.ddlns.net
    core:
     replicas: 2
     resources:
       requests:
         memory: 512Mi
         cpu: 100m
     topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: DoNotSchedule
    portal:
     replicas: 2
     resources:
       requests:
         memory: 256Mi
         cpu: 100m
     topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: DoNotSchedule
    metrics:
      enabled: true
    # registry:
      # podAnnotations:
      #   prometheus.io/scrape: "true"
      #   prometheus.io/path: "/metrics"
      #   prometheus.io/port: "8001"
    notary:
      enabled: false
    expose:
      ingress:
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
          nginx.ingress.kubernetes.io/client-max-body-size: "0"
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
        hosts:
          core: "harbor.ddlns.net"
      tls:
        enabled: true
        secretName: "harbor-ingress-certificate"
      type: ingress
    database:
      type: external
      external:
        host: "postgresql-nuc-cluster.databases.svc.cluster.local"
        port: "5432"
        username: "harbor"
        existingSecret: "harbor-secrets"
        sslmode: "require"
    redis:
      type: external
      external:
        addr: "redis-master:6379"
        coreDatabaseIndex: "0"
        jobserviceDatabaseIndex: "1"
        registryDatabaseIndex: "2"
        trivyAdapterIndex: "5"
        harborDatabaseIndex: "6"
        cacheLayerDatabaseIndex: "7"
    persistence:
      persistentVolumeClaim:
        registry:
          storageClass: openebs-hostpath
          size: 30Gi
        jobservice:
          jobLog:
            storageClass: openebs-hostpath
        trivy:
          storageClass: openebs-hostpath
  ##postRenderers:
  ##  - kustomize:
  ##      patches:
  ##        - patch: |
  ##            - op: replace
  ##              path: /spec/strategy/rollingUpdate/maxSurge
  ##              value: 1
  ##          target:
  ##            kind: Deployment
  ##            name: harbor-core
  ##        - patch: |
  ##            - op: replace
  ##              path: /spec/strategy/rollingUpdate/maxUnavailable
  ##              value: 1
  ##          target:
  ##            kind: Deployment
  ##            name: harbor-core
  ##        - patch: |
  ##            - op: replace
  ##              path: /spec/strategy/rollingUpdate/maxSurge
  ##              value: 1
  ##          target:
  ##            kind: Deployment
  ##            name: harbor-portal
  ##        - patch: |
  ##            - op: replace
  ##              path: /spec/strategy/rollingUpdate/maxUnavailable
  ##              value: 1
  ##          target:
  ##            kind: Deployment
  ##            name: harbor-portal
