---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: bitnami-chart
  namespace: flux-system
spec:
  interval: 1h
  #url: oci://registry-1.docker.io/bitnamicharts
  url: oci://mirror.gcr.io/bitnamicharts
  timeout: 3m
  type: "oci"
