---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
  namespace: nextcloud-fastnetserv
spec:
  interval: 15m
  maxHistory: 20
  chart:
    spec:
      chart: nextcloud
      version: ">=4.5.0"
      sourceRef:
        kind: HelmRepository
        name: nextcloud
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    startupProbe:
      enabled: true
      initialDelaySeconds: 120
    image:
      tag: 32.0.3-apache@sha256:0ddb0f97ddd504f306a0fd1416b0fe65a875067ab31952d9b013a0c82e32d84e
      pullPolicy: IfNotPresent
    podAnnotations:
      backup.velero.io/backup-volumes: "nextcloud-main"
    ingress:
      enabled: true
      className: haproxy
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt"
        haproxy.org/request-body-size: "0"
        haproxy.org/cors-enable: "true"
        haproxy.org/cors-allow-headers: "X-Forwarded-For"
      tls:
        - secretName: nx-fastnet-tls
          hosts:
            - cloud.ddlns.net
    nextcloud:
      host: cloud.ddlns.net
      ## Use an existing secret
      existingSecret:
        enabled: true
        secretName: nextcloud
        usernameKey: nextcloud-username
        passwordKey: nextcloud-password
      podSecurityContext:
        fsGroup: 33
        fsGroupChangePolicy: "OnRootMismatch"

    resources:
      requests:
        cpu: 1000m
        memory: 256Mi
      limits:
        memory: 4096Mi
    internalDatabase:
      enabled: false
    externalDatabase:
      enabled: true
      type: postgresql
      ## Use a existing secret
      existingSecret:
        enabled: true
        secretName: nextcloud-db-secret
        usernameKey: pgdb-username
        passwordKey: pgdb-password
        hostKey: server
        databaseKey: database
    mariadb:
      enabled: false
    redis:
      enabled: true
      master:
        persistence:
          storageClass: openebs-hostpath
        resources:
          limits:
            memory: 1024Mi
          requests:
            cpu: 500m
            memory: 1024Mi
      replica:
        replicaCount: 2
        persistence:
          storageClass: openebs-hostpath
        resources:
          limits:
            cpu: 500m
            memory: 1024Mi
          requests:
            cpu: 500m
            memory: 1024Mi
    persistence:
      enabled: true
      storageClass: openebs-hostpath
      size: 160Gi
    metrics:
      enabled: false
      podAnnotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9205"
      resources:
        limits:
          cpu: 500m
          memory: 512Mi
        requests:
          cpu: 500m
          memory: 512Mi
    cronjob:
      enabled: true
      securityContext:
        fsGroup: 33
        fsGroupChangePolicy: "OnRootMismatch"
    nginx:
      enabled: false
      securityContext:
        fsGroup: 33
        fsGroupChangePolicy: "OnRootMismatch"

