---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: emissary-crds
  namespace: emissary-ingress
spec:
  interval: 15m
  maxHistory: 20
  chart:
    spec:
      chart: emissary-crds-chart
      version: 3.10.0"
      sourceRef:
        kind: HelmRepository
        name: emissary-ingress-chart
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    enableLegacyVersions: false
