---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: emissary-ingress
  namespace: emissary-ingress
spec:
  dependsOn:
    - name: emissary-crds
  interval: 15m
  maxHistory: 20
  chart:
    spec:
      chart: emissary-ingress
      version: "3.10.0"
      sourceRef:
        kind: HelmRepository
        name: datawire
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    waitForApiext:
      enabled: false
    replicaCount: 3

    resources:
      requests:
        cpu: 500m
        memory: 512Mi

    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                - emissary-ingress
              - key: app.kubernetes.io/instance
                operator: In
                values:
                - emissary-ingress
            topologyKey: "kubernetes.io/hostname"

    service:
      type: LoadBalancer
      externalTrafficPolicy: Local
      ports:
      - name: http
        port: 80
        targetPort: 8080
        protocol: TCP
      - name: https
        port: 443
        targetPort: 8443
        protocol: TCP
      - name: unifi-stun
        port: 3478
        targetPort: 3478
        protocol: UDP
      - name: jenkins-agent
        port: 50000
        targetPort: 50000
        protocol: TCP

    podAnnotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "8877"
      prometheus.io/path: "/metrics"

    createDefaultListeners: true

    env:
      AMBASSADOR_ENVOY_BIND_ADDRESS: "0.0.0.0"

    deploymentStrategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 1
