---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: garage-s3
  namespace: nextcloud-fastnetserv
spec:
  interval: 15m
  maxHistory: 20
  chart:
    spec:
      chart: script/helm/garage
      sourceRef:
        kind: GitRepository
        name: garage-charts
        namespace: flux-system
      interval: 15m
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    garage:
      replicationMode: "2"

    deployment:
      replicaCount: 3

    persistence:
      meta:
        storageClass: "openebs-hostpath"
        size: 100Mi
      data:
        storageClass: "openebs-hostpath"
        size: 10Gi

    ingress:
      s3:
        api:
          enabled: true
          className: "nginx"
          annotations:
            cert-manager.io/cluster-issuer: "letsencrypt-prod"
            nginx.ingress.kubernetes.io/proxy-body-size: 500m
          hosts:
            - host: s3-api.ddlns.net
              paths:
                - path: /
                  pathType: Prefix
          tls:
            - secretName: garage-ingress-cert
              hosts:
                - s3-api.ddlns.net
        web:
          enabled: true
          className: "nginx"
          annotations:
            cert-manager.io/cluster-issuer: "letsencrypt-prod"
            nginx.ingress.kubernetes.io/proxy-body-size: 500m
          hosts:
            - host: nx.s3.ddlns.net
              paths:
                - path: /
                  pathType: Prefix
          tls:
            - secretName: garage-web-ingress-cert
              hosts:
                - nx.s3.ddlns.net
