---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: portainer
resources:
  - ../../../../kubenuc/apps/portainer/manifests/release.yml
patchesStrategicMerge:
  - release.yml
