---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: portainer
  namespace: portainer
spec:
  interval: 15m
  maxHistory: 20
  chart:
    spec:
      chart: portainer
      version: ">=1.0.35"
      sourceRef:
        kind: HelmRepository
        name: portainer-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 6
  upgrade:
    remediation:
      retries: 6
  values:
    persistence:
      enabled: true
      size: 1Gi
      accessMode: ReadWriteOnce
      storageClass: openebs-hostpath
