#---
#apiVersion: helm.toolkit.fluxcd.io/v2beta1
#kind: HelmRelease
#metadata:
#  name: unifi
#  namespace: unifi
#spec:
#  interval: 15m
#  maxHistory: 20
#  chart:
#    spec:
#      chart: unifi
#      version: ">=5.1.2"
#      sourceRef:
#        kind: HelmRepository
#        name: k8s-at-home-charts
#        namespace: flux-system
#      interval: 15m
#  install:
#    createNamespace: true
#    remediation:
#      retries: 6
#  upgrade:
#    remediation:
#      retries: 6
#  values:
#    image:
#      tag: v9
#      pullPolicy: Always
#    env:
#      TZ: Europe/Rome
#    ingress:
#      main:
#        ingressClassName: haproxy
#        enabled: true
#        annotations:
#          haproxy.org/backend-protocol: https
#          cert-manager.io/cluster-issuer: letsencrypt
#          haproxy.org/ssl-redirect: "false"
#          haproxy.org/whitelist: 10.10.0.0/24,10.10.8.0/24,192.168.0.0/24,192.168.1.0/24,192.168.2.0/24
#        hosts:
#          - host: unifi.ddlns.net
#            paths:
#              - path: /
#                pathType: Prefix
#        tls:
#          - secretName: unifi-ssl
#            hosts:
#              - unifi.ddlns.net
#    persistence:
#      data:
#        enabled: true
#        mountPath: /unifi
#        storageClass: openebs-hostpath
#        accessMode: ReadWriteOnce
#        size: 20Gi
