---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: teleport-agent
  namespace: teleport
spec:
  interval: 5m
  chart:
    spec:
      chart: teleport-kube-agent
      version: ">=18.0.0"
      sourceRef:
        kind: HelmRepository
        name: teleport-charts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation:
      retries: 6
  upgrade:
    remediation:
      retries: 6
  values:
    proxyAddr: teleport.ddlns.net:443
    kubeClusterName: "k3s-rabbit"
    joinTokenSecret:
      create: false
      name: "teleport-kube-agent-join-token"
    extraEnv:
    - name: HTTPS_PROXY
      value: "http://squid.ddlns.net:3128"
    - name: NO_PROXY
      value: "10.43.0.0/24, svc.cluster.local"

